@use './var';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: smooth;
  font-feature-settings: "palt";
  letter-spacing: .075em;
  font-family: var(--f-variable), var(--f-jp), var(--f-fallback);
}

body {
  background-color: var(--c-light);
  color: var(--c-pureBlack);
}