:root {
  --c-main: #6088d1;

  --c-dark: #333;
  --c-darker: #222;
  --c-darkest: #111;
  --c-pureBlack: #000;

  --c-light: #ccc;
  --c-lighter: #ddd;
  --c-lightest: #eee;
  --c-pureWhite: #fff;

  --f-variable: 'Inter';
  --f-jp: 'Noto Sans JP';
  --f-fallback: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --l-header-height: 60px;
}

body.dark-mode {
  --c-main: #6088d1;

  --c-dark: #ccc;
  --c-darker: #ddd;
  --c-darkest: #eee;
  --c-pureBlack: #fff;

  --c-light: #333;
  --c-lighter: #222;
  --c-lightest: #111;
  --c-pureWhite: #000;
}
