@use "./base/var" as var;
@use "./base/animation";
@use "./base/base";

@use "./sections/section01";
@use "./sections/section02";
@use "./sections/section03";
@use "./sections/section04";

@use "./common/defaultExport";

section {
  min-height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:not(.sec-04) h2 {
  opacity: 0;
  transform: translateY(100px);
  will-change: opacity transform;
}

section:not(.sec-04) h2.show {
  transition: opacity 500ms ease-in-out, transform 700ms ease-in-out;
  opacity: 1;
  transform: translateY(0);
}